body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #6898f7;
    color: #f1dcdc;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height:auto;
    width: 150px;
}

nav {
    margin-right: 20px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 0%;
}

button {
    border-radius: 60px;
    background-color: rgb(160, 49, 145);
    text-decoration: wavy;
    text-decoration-color: black;
    height: 40px;
    width: 90px;
}
.card {
    position: relative;
    display: inline-block;
  }
  
  .card-image {
    position: relative;
  }
  
  .card-image img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
 
a{
    text-decoration: none;
    color: white;
}